*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
    color: black;
     --foreground: #000;

}
html,body{
  height: 100%;
  width: 100%;
    /* background: #a9c54f; */
    /* overflow-x: hidden; */
    padding:0px 15px;
    
}

a{
    text-decoration: none;
    color: black;
}


#main{
    min-height: 100vh;
    max-width: 100%;
    position: relative;
}