#nav{
    height: 120px;
    width: 100%;
    position:fixed;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
mix-blend-mode: hard-light;
    /* background: #34359b; */
}



#nav #logo {
    height:100%;
    width: 120px;
    
    /* background: #ad9393; */

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 10px;
    position: relative;
    
    
    
}

#nav #logo #logo-wrapper{
    height: 100%;
    position: relative;
    /* background: #000; */
    /* transform: translate(0,-120%); */
}


#nav #logo svg{
    flex-shrink: 0;
    position: relative;
    height: 100%;
    width: 100%;
   
}

#nav #links{
    display: flex;
    align-items: center;
    /* background: #ffffff; */
    overflow: hidden;
    width: 45%;
    
    gap: 60px;
}

#nav #icon-wrapper{
    padding: 10px 15px;
    width: fit-content;
    border-radius: 15px;
    background-color: white;

    display: flex;
    align-items: center;
    /* background: #ffffff; */
    
    
    
    gap: 60px;
}

